.container {
  background: url(../../Assets//image/price/bg.svg) no-repeat;
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

.content {
  margin-top: 2.5rem;
  margin-left: -13rem;
}

.container h3 {
  font-family: var(--type-fisrt-regular);
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--type-color-5);
}

.container p {
  max-width: 80ch;
  margin: 0.3rem auto;
  font-family: var(--type-fisrt-regular);
  font-size: 0.875rem;
  margin: 0.5rem auto;
  color: var(--type-color-2);
}

.container span {
  font-family: var(--type-fisrt-regular);
  font-size: 0.875rem;
  color: var(--type-color-4);
  font-weight: 500;
}

.container span::after {
  content: "";
  display: block;
  width: 300px;
  height: 2px;
  background-color: var(--type-color-2);
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  border-radius: 2px;
}

@media (max-width: 1200px) {
  .container {
    background: none;
    justify-content: flex-start;
    margin-left: 2rem;
    width: 800px;
  }

  .container h3 {
    margin: 1rem auto;
    display: block !important;
  }

  .container p {
    margin: 1rem auto;
  }

  .content {
    margin-top: 0px;
    margin-left: 0rem;
  }
}

@media (max-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 650px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .container {
    width: 300px;
  }

  .container span::after {
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  .container {
    width: 200px;
  }

  .container span::after {
    width: 150px;
    margin-bottom: 0.5rem;
  }

  .container h3 {
    margin: 0.5rem auto;
    display: block !important;
  }

  .container p {
    margin: 0.5rem auto;
    font-size: 0.8rem;
  }
}
