.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.info {
  grid-column: 1;
  max-width: 25rem;
}

.image {
  grid-column: 2;
  margin-left: 0px;
}

.text {
  margin-bottom: 1rem;
  color: var(--type-color-4);
}

.textInfo {
  font-family: var(--type-fisrt-regular);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--type-color-2);
  margin-bottom: 2rem;
  padding-right: 0.5rem;
}

.button {
  font-family: var(--type-fisrt-regular);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--type-color-4);
  border: solid 1px var(--type-color-4);
  padding: 1rem 3rem 1rem 3rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--type-color-0);
  transition: 0.3s;
  border-color: var(--type-color-3);
  font-weight: bolder;
}

.image {
  background: url(../../Assets/introduction.svg) no-repeat;
  margin-bottom: -100px;
}

@media (max-width: 72rem) {
  .info {
    margin-left: 2rem;
  }
}

@media (max-width: 41rem) {
  .container {
    grid-template-columns: 1fr;
  }

  .textInfo {
    font-size: 1.2rem;
  }

  .image {
    display: none;
  }

  .text {
    margin-bottom: 1rem;
  }

  .textInfo {
    margin-top: 2rem;
  }
}

@media (max-width: 22rem) {
  .button {
    padding: 1rem 2rem 1rem 2rem;
  }
}
