.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 6rem;
}

.info {
  grid-column: 1;
  margin-left: 27rem;
  max-width: 25rem;
}

.image {
  grid-column: 2;
  margin-left: 0px;
}

.text {
  margin-bottom: 4rem;
}

.button {
  font-family: var(--type-fisrt-regular);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--type-color-4);
  border: solid 1px var(--type-color-4);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--type-color-3);
  color: var(--type-color-0);
  transition: 0.3s;
  border-color: var(--type-color-3);
}

.imageDeco {
  height: 350px;
  width: 220px;
  border-radius: 12.5rem 12.5rem 0.625rem 0.625rem;
  position: relative;
}

.image {
  background: url(../../Assets/image/intro.svg) no-repeat;
  margin-bottom: -100px;
}

@media (max-width: 81rem) {
  .info {
    margin-left: 7rem;
  }
}

@media (max-width: 72rem) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .info {
    max-width: 20rem;
    margin-left: 2rem;
  }
}

@media (max-width: 45rem) {
  .container {
    margin-bottom: 2rem;
  }
  .image {
    display: none;
  }

  .text {
    margin-bottom: 3rem;
  }

  .button {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .info {
    max-width: 22rem;
  }
}

@media (max-width: 41rem) {
  .button {
    font-size: 0.875rem;
    padding: 0.3rem;
  }
}
