/* .mobile {
  display: none;
}

@media (max-width: 72rem) {
  .mobile {
    display: block;
    position: absolute;
    right: 0;
    background-color: #000;
    cursor: pointer;
    border: solid 1px;
    width: 20px;
    height: 2.4px;
    margin-bottom: 4%;
  }

  .mobile::after,
  .mobile::before {
    content: "";
    display: block;
    background-color: currentColor;
    width: 20px;
    height: 2px;
    margin-top: 5px;
  }

  .active{
    margin: 200px;
    
  }
}

@media (max-width: 25rem) {
  .mobile {
    margin-left: 50%;
  }
} */
