.header {
  display: grid;
  grid-template-columns: repeat(12 1fr);
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.06rem;
}

.header link {
  cursor: pointer;
}

.brand {
  grid-column: 2/3;
}

.nav {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  grid-column: 4/8;
}

.nav li {
  margin: 0 2.5rem;
  padding: 0.4rem;
}

.contact {
  grid-column: 8/12;
}

.nav a::after {
  content: "";
  display: block;
  background-color: #c9c7c1;
  height: 2px;
  width: 0px;
  margin-top: 4px;
}

.nav a:hover::after {
  width: 100%;
  transition: 0.3s;
}

.nav a:global(.active)::after {
  background-color: #95998a;
  height: 2px;
  width: 100%;
  margin-top: 4px;
}

@media (max-width: 61rem) {
  .nav a,
  .contact {
    display: none;
  }

  .hamburguer {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #95998a;
  }
}
