.titlePages {
  margin-left: 27rem;
  margin-top: 5rem;
}

.titlePages::after {
  content: "";
  display: block;
  width: 25rem;
  height: 0.125rem;
  background-color: #f6f5f5;
  margin-top: 0.63rem;
  margin-left: -6rem;
  margin-bottom: 3rem;
}
