.footer {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--type-color-4);
  padding: 1rem 8rem;
  margin-top: 8rem;
}

.titleFooter {
  font-family: var(--type-fisrt-regular);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--type-color-0);
}

.brand {
  margin-top: 0.5rem;
}

.openingHours {
  margin-top: 0.5rem;
  color: var(--type-color-1);
}

.openingHours p {
  margin-top: 0.5rem;
}

.openingHours span {
  margin-left: 2rem;
}
.data {
  margin-top: 0.5rem;
  margin-left: -2rem;
}

.redes {
  display: flex;
  align-items: center;
}

.redes li:nth-child(2) {
  margin-left: 0.94rem;
}

.redes li:nth-child(3) {
  margin-left: 0.94rem;
}

.map {
  margin-top: 0.5rem;
}

.data h4::after,
.map h4::after {
  content: "";
  display: block;
  width: 9rem;
  height: 0.125rem;
  background-color: #9a9f8d;
  margin-top: 0.25rem;
  margin-bottom: 1.12rem;
}

.openingHours h4::after {
  content: "";
  display: block;
  width: 16rem;
  height: 0.125rem;
  background-color: #9a9f8d;
  margin-top: 0.25rem;
  margin-bottom: 1.12rem;
}

@media (max-width: 81rem) {
  .brand {
    display: none;
  }
}

@media (max-width: 72rem) {
  .openingHours {
    margin-left: -6rem;
  }
}

@media (max-width: 61rem) {
  .footer {
    flex-direction: column;
  }

  .data {
    margin-left: -6rem;
  }

  .map {
    margin-left: -6rem;
  }
}

@media (max-width: 41rem) {
  .footer {
    margin-top: 0rem;
  }

  .titleFooter {
    font-size: 1rem;
  }

  .data h4::after,
  .map h4::after,
  .openingHours h4::after {
    margin-bottom: 0.875rem;
  }

  .data {
    margin-top: 1.5rem;
  }

  .map {
    margin-top: 1.5rem;
  }

  .openingHours h4::after {
    width: 14rem;
  }
}
