.footer {
  background-color: var(--type-color-4);
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 4rem;
}

.containerFooter {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  font-family: roboto;
}

.titleFooter {
  font-family: var(--type-fisrt-regular);
  font-size: 1.25rem;
  font-weight: 400;
  color: #ffffff;
}

.brand {
  margin-top: 0.5rem;
  justify-content: center;
}

.brandContent::after {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 3px;
}

.data {
  max-width: 18ch;
  margin-top: 1rem;
}

.data p {
  color: #f7f7f7;
}

.redes {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 0px;
  gap: 2rem;
  justify-content: center;
  border: solid 1px #f7f7f7;
  padding: 0.5rem;
  border-radius: 4px;
}

.redes li {
  cursor: pointer;
}

.openingHours {
  margin-top: 0.5rem;
}

.openingHours p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #f7f7f7;
}

.openingHours span {
  margin-left: 2rem;
}

.openingHours h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 200;
}

.map {
  margin-top: 0.5rem;
  width: 310px;
}

.map p {
  color: #f7f7f7;
  margin-bottom: 0.5rem;
}

.map h4::after {
  content: "";
  display: block;
  width: 6rem;
  height: 0.125rem;
  background-color: #fff;
  margin-top: 0.25rem;
  margin-bottom: 1.12rem;
}

.openingHours h4::after {
  content: "";
  display: block;
  width: 15rem;
  height: 0.125rem;
  background-color: #fff;
  margin-top: 0.25rem;
  margin-bottom: 1.12rem;
}

@media (max-width: 850px) {
  .containerFooter {
    flex-direction: column;
  }

  .openingHours {
    margin-top: 1.5rem;
  }

  .map {
    margin-top: 1.5rem;
  }
}

@media (max-width: 350px) {
  .map {
    width: 200px;
  }
}

@media (max-width: 275px) {
  .map {
    width: 150px;
  }
  .map h4::after {
    display: none;
  }

  .openingHours h4::after {
    display: none;
  }

  .openingHours h4,
  .map h4 {
    border-bottom: solid 1px #fff;
    margin-bottom: 1rem;
  }
}
