@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:wght@500&family=Roboto:wght@400;500&display=swap");

body {
  --type-fisrt-regular: roboto, sans-serif;
  --type-third: moon dance;
  background-color: var(--type-color-0);
  --type-color-0: #fff9f9;
  --type-color-1: #c9c7c1;
  --type-color-2: #bcbcb3;
  --type-color-3: #95998a;
  --type-color-4: #96998a;
  --type-color-5: #73766a;
}

html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
span,
header,
a,
nav,
footer,
button,
section,
link,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a,
link {
  text-decoration: none;
  color: var(--type-color-4);
}

img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.title {
  font-family: var(--type-third);
  font-size: 4.5rem;
  color: var(--type-color-5);
  margin: 1rem 0;
}

.subtitle {
  font-family: var(--type-fisrt-regular);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--type-color-1);
}

.containerSection {
  margin-top: 3rem;
  max-width: 75rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  max-width: 1200px;
  margin-left: 10rem;
}

.header .brand {
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}

.nav a {
  cursor: pointer;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: 8.5rem;
}

.nav li {
  margin: 0 2.5rem;
}

.nav li a::after {
  content: "";
  display: block;
  background-color: #c9c7c1;
  height: 2px;
  width: 0px;
  margin-top: 4px;
}

.nav li a:hover::after {
  width: 100%;
  transition: 0.3s;
}

.nav li .active::after {
  background-color: #95998a;
  height: 2px;
  width: 100%;
  margin-top: 4px;
}

a.contact::after {
  display: none !important;
}

.menuHamburguer {
  display: none;
}

.menuHamburguer.menuClose {
  border-top-color: transparent !important;
}

.menuClose::before {
  transform: rotate(135deg);
}

.menuClose::after {
  transform: rotate(-135deg);
  top: -7px;
  position: relative;
}

@media (max-width: 84rem) {
  .header .brand {
    margin-left: -3rem;
  }
  .nav ul {
    margin-right: 1rem;
  }
}

@media (max-width: 72rem) {
  .header .links {
    display: block;
    margin: 0 auto;
  }

  .header .brand {
    margin-left: -8.2rem;
    margin-right: 0rem;
  }

  .nav ul {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 100%;
  }

  nav a {
    display: block;
    visibility: hidden;
  }

  .nav ul {
    display: block;
  }
  .menuHamburguer {
    display: block;
    position: absolute;
    content: "";
    right: 0;
    cursor: pointer;
    border-top: 2.4px solid #000;
    width: 25px;
    margin-bottom: 4%;
  }

  .menuHamburguer::after,
  .menuHamburguer::before {
    content: "";
    display: block;
    background-color: #000;
    width: 25px;
    height: 2px;
    margin-top: 5px;
  }

  .menuOpen {
    z-index: 99999999;
    background-color: var(--type-color-0);
    width: 100%;
  }

  .menuOpen a {
    display: block;
    position: static;
    flex-wrap: initial;
    padding: 1rem 0;
    margin-top: 2rem;
    margin-bottom: 60px;
    height: calc(100vh -70px);
    visibility: visible;
    transition: 0.6s;
    border-bottom: solid 1px #dcdcdc;
    z-index: 1000 !important;
  }

  .menuOpen {
    background-color: var(--type-color-0);
  }
}

@media (max-width: 41rem) {
  .header .brand {
    margin-bottom: 0rem;
  }
  .title {
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 70px;
  }
}

@media (max-width: 25rem) {
  .menuHamburguer {
    margin-left: 50%;
  }
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
