@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:wght@500&family=Roboto:wght@400;500&display=swap");

body {
  --type-fisrt-regular: roboto, sans-serif;
  --type-first-medium: roboto, sans-serif;
  --type-third: moon dance;
  background-color: #fbfbfb;

  --type-color-0: #fff9f9;
  --type-color-1: #c9c7c1;
  --type-color-2: #bcbcb3;
  --type-color-3: #95998a;
  --type-color-4: #96998a;
  --type-color-5: #73766a;
}

html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
span,
header,
a,
nav,
footer,
button,
section {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a,
link {
  text-decoration: none;
  color: var(--type-color-4);
}

img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.title {
  font-family: var(--type-third);
  font-size: 4rem;
  color: var(--type-color-5);
  margin: 3rem 0;
}

.subtitle {
  font-family: var(--type-fisrt-regular);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--type-color-1);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  max-width: 1200px;
  margin-left: 10rem;
}

.nav a {
  cursor: pointer;
}

.header .brand {
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: 8.5rem;
}

.nav li {
  margin: 0 2.5rem;
}

.nav li a::after {
  content: "";
  display: block;
  background-color: #c9c7c1;
  height: 2px;
  width: 0px;
  margin-top: 4px;
}

.nav li a:hover::after {
  width: 100%;
  transition: 0.3s;
}

.nav li a:global(.active)::after {
  background-color: #95998a;
  height: 2px;
  width: 100%;
  margin-top: 4px;
}

li .contact::after {
  display: none !important;
}

.mobile {
  display: none;
}

@media (max-width: 84rem) {
  .header .brand {
    margin-left: -3rem;
  }

  .nav ul {
    margin-right: 1rem;
  }
}

@media (max-width: 72rem) {
  .header .brand {
    margin-left: -8.2rem;
    margin-right: 0rem;
  }

  .mobile {
    display: block;
    position: absolute;
    right: 0px;
  }

  .nav ul {
    position: absolute;
    top: 70px;
    right: 0px;

    width: 100%;
  }

  .header .links {
    display: block;
    margin: 0 auto;
  }

  nav a {
    display: block;
    visibility: hidden;
  }

  .nav ul {
    display: block;
  }

  .active a {
    display: block;
    flex-wrap: initial;
    padding: 1rem 0;
    margin-top: 2rem;
    margin-bottom: 60px;
    z-index: 10000;
    width: 100%;
    visibility: visible;
    transition: 0.6s;
    border-bottom: solid 1px #dcdcdc;
   
  }

  .active {
    background-color: #e7e7e7;
  }

  .header .brand {
    background-color: initial !important;
  }
}

@media (max-width: 41rem) {
  .header .brand {
    margin-bottom: 0rem;
  }
}

@media (max-width: 41rem) {
  .title {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 25rem) {
  .mobile {
    margin-left: 50%;
  }
}
