.containerSlide {
  overflow: hidden;
  max-width: 75rem;
  max-height: 43.75rem;
  margin: 0 auto;
}

.content {
  display: flex;
  transition: transform 0.3s ease;
}

.item {
  flex-shrink: 0;
  width: 80%;
  margin: 0 10%;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.nav span {
  cursor: pointer;
  padding: 1rem;
}

.contentSlide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contentSlide img {
  max-width: 12.5rem;
  max-height: 12.5rem;
  padding: 1rem;
  border-radius: 0.625rem;
}

@media (max-width: 46.25rem) {
  .contentSlide img {
    max-width: 9.375rem;
    max-height: 9.375rem;
    padding: 0.5rem;
  }
}

@media (max-width: 33.125rem) {
  .contentSlide img {
    max-width: 7.5rem;
    max-height: 7.5rem;
    padding: 0.3rem;
  }
}

@media (max-width: 26.25rem) {
  .contentSlide img {
    max-width: 5rem;
    max-height: 5rem;
  }
}

@media (max-width: 18.125rem) {
  .contentSlide img {
    max-width: 3.125rem;
    max-height: 3.125rem;
  }
}
