.containerSlide {
  overflow: hidden;
  max-width: 1200px;
  max-height: 700px;
  margin: 0 auto;
}

.content {
  display: flex;
  transition: transform 0.3s ease;
}

.item {
  flex-shrink: 0;
  width: 80%;
  margin: 0 10%;
  /* padding: 10rem 0; */
  /* background-color: #eee; */
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  width: 90%;
}

.nav span {
  cursor: pointer;
  padding: 1rem;
}

.contentSlide {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.column1 {
  grid-column: 1;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  max-height: 500px;
}

.column2 {
  display: flex !important;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 400px;
  max-height: 367px;
  margin: 0 auto;
}

.column2 img {
  max-width: 140px;
  max-height: 170px;
  margin-top: auto;
}

.column3 {
  grid-column: 3;
  margin: 0 auto;
  max-width: 400px;
  max-height: 367px !important;
}

@media (max-width: 700px) {
  .contentSlide {
    grid-template-columns: 1fr 1fr;
  }
  .containerSlide img {
    width: 140px;
    height: 170px;
    display: flex !important;
    align-items: center;
  }
}
